@import "../less/variables.less";

body[data-route*="Social"] {
	.layout-main-section {
		border: none;
	}
	a {
		transition: none;
	}
	.liked-by-popover {
		font-size: @text-small;
	}

	.wall-container {
		.post-container {
			.new_posts_count {
				cursor: pointer;
				text-align: center;
				padding: 5px;
				margin-bottom: 15px;
			}
		}
	}

	.wall-container, .profile-container {
		display: flex;
		font-size: 12px;
		.post-sidebar {
			padding-top: 20px;
			flex: 20%
		}
		.post-container {
			flex: 55%;
			display: flex;
			padding: 15px;
			flex-direction: column;
		}
		.activity-sidebar {
			padding: 15px;
			flex: 25%;
			.event {
				margin-bottom: 15px;
			}
		}
	}

	.generic-card() {
		background: white;
		font-size: 12px;
		margin-bottom: 15px;
		min-height: 70px;
		border: 1px solid @border-color;
		border-radius: 4px;
		overflow: hidden;
		.content {
			font-size: 14px;
			img, iframe {
				border-radius: 5px;
				border: 1px solid @light-border-color;
				margin: 5px 0;
			}
			img {
				&:hover {
					opacity: 0.7;
					cursor: pointer;
				}
			}
		}
	}

	.post-card {
		.generic-card();
		.post-body {
			padding: 15px;
			.user-name {
				font-weight: 500;
			}
			.user-avatar {
				float: left;
				margin-right: 5px;
			}
			.user-avatar, .user-name {
				cursor: pointer;
			}
			.content {
				margin: 15px 0 0 46px;
			}
			.post-dropdown-menu {
				display: none;
				padding-left: 10px;
				line-height: 1;
				z-index: 100;
			}
		}
		.pin-option {
			color: #8d99a6;
			text-transform: uppercase;
			font-size: @text-small;
			display: none;
		}
		.pinned {
			background: #fefdf2;
			.pin-option {
				display: block;
			}
		}
		&:hover {
			.post-dropdown-menu {
				display: block;
			}
		}
		.post-action-container {
			padding-left: 56px;
			background-color: #F6F6F6;
			border-top: 1px solid @border-color;
		}
		.preview-card {
			text-decoration: none;
			max-height: 150px;
			border: 1px solid @light-border-color;
			border-radius: 5px;
			margin-top: 15px;
			padding-right: 10px;
			background: white;
			display: flex;
			img {
				border: none;
				margin: 10px;
				max-width: 160px;
				max-height: 140px;
				align-self: center;
			}
			p {
				overflow: hidden;
				font-size: var(--text-md);
			}
		}
	}

	.muted-title {
		color: #8d99a6;
		margin-bottom: 10px;
		text-transform: uppercase;
		font-size: 10px;
		font-weight: 600;
	}
}

body[data-route*="Social/profile"] {
	.page-head {
		display: none;
	}
}

body[data-route*="Social/users"]{
	.user-list {
		border-left: 1px solid @border-color;
		border-right: 1px solid @border-color;
		.user-card {
		  display: flex;
		  cursor: pointer;
		  padding: 12px 15px;
		  border-bottom: 1px solid @border-color;
		  .user-details {
			flex: 1;
			.italic {
			  font-style: italic;
			}
			.user-avatar {
			  margin-right: 15px;
			}
		  }
		}
	  }

	  .rank-column {
		flex: 0 0 30px;
		align-self: center;
		color: #8d99a6;
	  }

	  .flex-20 {
		flex: 0 0 20%;
		text-align: right;
		align-self: center;
	  }

	  .flex-40 {
		flex: 0 0 40%;
	  }

	  .user-list-header {
		background-color: @light-bg;
	  }

	  .search-bar {
		position: sticky;
		top: 0;
		background: white;
		height: 75px;
		text-align: center;
		div {
		  margin: auto;
		}
		width: 100%;
		left: 0;
	  }

	  .energy-point-history {
		border-bottom: 1px solid @border-color;
		background-color: @light-bg;
	  }
}
